.settings-container { 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    transition: background-color 0.3s; 
  } 
 
  .settings-container.dark-mode { 
    background-color: #333; 
    color: #fff; 
  } 
 
  .settings-container h1 { 
    font-size: 24px; 
    margin-bottom: 20px; 
  } 
 
  .mode-toggle { 
    display: inline-block; 
    margin-top: 20px; 
  } 
 
  .mode-toggle label { 
    cursor: pointer; 
    font-size: 16px; 
    display: inline-flex; 
    align-items: center; 
  } 
 
  .mode-toggle input { 
    margin-right: 10px; 
  } 
 
  /* Styling for the toggle switch */ 
  .mode-toggle input[type="checkbox"] { 
    appearance: none; 
    -webkit-appearance: none; 
    width: 50px; 
    height: 25px; 
    background-color: #ccc; 
    border-radius: 25px; 
    position: relative; 
    outline: none; 
    transition: background-color 0.3s; 
  } 
 
  .mode-toggle input[type="checkbox"]:checked { 
    background-color: #3A5B22; 
  } 
 
  .mode-toggle input[type="checkbox"]::before { 
    content: ""; 
    position: absolute; 
    width: 21px; 
    height: 21px; 
    background-color: #fff; 
    border-radius: 50%; 
    top: 2px; 
    left: 2px; 
    transition: transform 0.3s; 
  } 
 
  .mode-toggle input[type="checkbox"]:checked::before { 
    transform: translateX(25px); 
  }
