:root {
    --primary-color: red;
    --secondary-color: green;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mini-container.larger {
    flex: 3;
}

.mini-container {
    width: 100%;
    min-height: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.mini-container.smaller {
    flex: 2;
    background: url("../images/mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f1f1f1;
}

.login-title {
    width: 100%;
    text-align: center;
}

.login-text {
    font-weight: 300;
    font-style: oblique;
}

.form-action {
    width: 60%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-group {
    width: 100%;
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}

.form-label {
    width: 100%;
    font-weight: 500;
}

.form-label span {
    color: red;
}

.form-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.319);
    padding: 0.9rem;
    border-radius: 0.3rem;
    outline-color: var(--secondary-color);
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.btn {
    border: none;
    box-shadow: 0 0 0.3rem #0000004d;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    font-weight: 600;
    background-color: #ffffff;
    color: var(--fiery-rose);
    border: 1px solid var(--fiery-rose);
    cursor: pointer;
    outline: none !important;
}

.btn:hover{
    background-color: var(--fiery-rose)!important;
    color: #ffffff;
}

@media only screen and (max-width: 400px) {
    .mini-container.smaller{
        max-height: 50vh;
    }

    .main-container.reverse{
        flex-direction: column-reverse;
    }    
}