* {
    padding: 0;
    margin: 0;
}

.dropdown-menu.dropdown-menu-end.show {
    background-color: var(--fiery-rose);
}

.dropdown-menu.dropdown-menu-end.show :hover {
    background-color: #ffffff;
    color: var(--fiery-rose);
}

.dropdown-menu.dropdown-menu-end.show a {
    text-decoration: none;
    color: black;
}

.dropdown-menu.dropdown-menu-end.show a:hover {
    text-decoration: none;
    color: var(--fiery-rose);
}

.color-nav {
    background-color: var(--fiery-rose);
    /* font-weight: bold; */
}

.paymentbtn {
    margin: 10px;
    padding: 10px;
    min-width: 100px;
}

.paymentCards {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.row {
    overflow: auto;
}


.nav-link:active {
    color: white;
}

.nav-link:hover {
    color: white;
}

.mainContainer.row {
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.mainContainer.padding {
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.tickets {
    padding: 20px;
    margin: 10px 0;
    display: grid;
    width: 80%;
}

.tickets .card {
    display: grid;
}

.submit {
    margin: auto;
    display: flex;
    text-align: center;
    float: right;
}

.submit:hover {
    background-color: var(--fiery-rose);
    color: #ffffff;
}

.mainContainer {
    display: flex;
    min-height: calc(100vh - 348.8px);
    color: #4c5f6b;
}

.billsContainer{
    min-height: calc(100vh - 348.8px); 
}

.card {
    border-radius: 0.3rem;
    box-shadow: 0 0 0.3rem #0000004d;
}

.login {
    border-radius: 0.3rem;
    box-shadow: 0 0 0.3rem #0000004d;
    margin: 15vh;
    padding: 3rem;
}

.loginButton {
    text-align: center;
}



.paymentCards {
    min-height: 14rem;
    margin-left: 5rem;

}

.bills {
    width: 100%;
    height: auto;
}


.main-image {
    background: url("../images/mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f1f1f1;
}

.col-sm-4 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}


.landing {
    width: 100%;
    height: 68vh;
    display: flex;
    background-color: var(--lavender);
    /* gap: 1rem; */

}

.landing-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

.landing-col.image img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.services img {
    padding: 20px;
}

.services img:hover {
    padding: 20px;
    scale: 1.2;

}

.services-container {
    display: flex;
}

.services {
    flex: 1;
}

.services-description p {
    color: var(--coral);
    font-weight: bold;
}

button.services-button.btn.btn-secondary {
    background-color: var(--fiery-rose) !important;
    color: #ffffff !important;
    margin: 5px;
}

button.services-button.btn.btn-secondary a {
    text-decoration: none;
    color: white;
}

button.services-button.btn.btn-secondary a:hover {
    color: var(--fiery-rose) !important;
}

button.services-button.btn.btn-secondary:hover {
    color: var(--fiery-rose) !important;
    background-color: white !important;
    border: none;
}

.card{
    margin: 10px;
}

.billButton{
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    text-align:'center';
    border: none;
    box-shadow: 0 0 0.3rem #0000004d;
    border-radius: 0.3rem;
    padding: 5px;
    /* padding: 1rem 1.5rem; */
    font-weight: 600;
    background-color: #ffffff;
    color: var(--fiery-rose);
    border: 1px solid var(--fiery-rose);
    cursor: pointer;
    outline: none !important;
    
}



@media only screen and (min-width: 600px) {
    .parentNav {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        width: 100%;
    }

    .navigation {
        display: flex;
    }

    .tickets {
        padding: 20px;
        /* margin: 50px; */
        display: grid;

    }
}



@media only screen and (max-width: 950px) {
    .tickets {
        padding: 20px;
        margin: 50px;
        width: max-content;
        display: grid;
    }
}

@media only screen and (max-width: 450px) {
    .tickets {
        padding: 20px;
        margin: 50px;
        width: auto;
        display: grid;
    }

    .last {
        margin-bottom: 5rem;
    }

    .landing {
        display: flex;
        flex-direction: column;
    }

    .landing-col {
        flex: 1;
    }

    img.mainImage {
        height: 200px !important;
        object-fit: cover;
    }

    .landing-col.image {
        display: none;
    }

    .footer-middle .container .row {
        display: none;
    }
    .main-footer{
        height:20px;
    }
    .mainContainer{
        height: auto !important;
    }
}