* {
    padding: 0;
    margin: 0;
}

.color-nav {
    background-color: var(--purple);
}

.paymentbtn {
    margin: 10px;
    padding: 10px;
    min-width: 100px;
}

.btn:hover {
    background-color: #3B8754;
    color: black;
}

.paymentCards {
    margin: 10px;
    padding: 10px;
}

.row {
    overflow: auto;
}


.nav-link:active {
    color: white;
}

.nav-link:hover {
    color: white;
}

.tickets {
    padding: 20px;
    margin: 50px;
    display: grid;
}

.tickets .card {
    display: grid;
}

.submit {
    margin: auto;
    display: flex;
    text-align: center;
}

.mainContainer {
    min-height: calc(100vh - 348.8px);
}

.card {
    border-radius: 0.3rem;
    box-shadow: 0 0 0.3rem #0000004d;
}

.login {
    border-radius: 0.3rem;
    box-shadow: 0 0 0.3rem #0000004d;
    margin: 15vh;
    padding: 3rem;
}

.loginButton {
    text-align: center;
}

.mainContainer.row {
    background-color: #DFDFE7;
    border: 1px solid #000000;
}

.paymentCards {
    min-height: 14rem;
    margin-left: 5rem;
}

.bills {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) {
    .parentNav {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        width: 100%;
    }

    .navigation {
        display: flex;
    }

    .tickets {
        padding: 20px;
        margin: 50px;
        display: grid;

    }
}



@media only screen and (max-width: 950px) {
    .tickets {
        padding: 20px;
        margin: 50px;
        width: max-content;
        display: grid;
    }
}

@media only screen and (max-width: 600px) {
    .tickets {
        padding: 20px;
        margin: 50px;
        width: auto;
        display: grid;
    }
}