:root {
  --mainDark: #00B74A;
  --mainLight: #BFEDD2;
  --mainWhite: #FFFFFF;
  --lavender: #E6E6FA;
  --thistle: #b17ced;
  --purple: #A2A2FA;
  --light-purple: #D1D1FC;
  --grey: #DFDFE7;

  /* new */
  --crayola: #2b3d41ff;
  --coral: #4c5f6bff;
  --sheen: #64b6acff;
  --lavender-blue: #d1d1fcff;
  --fiery-rose: #fb6376ff;
  --black-shadows: #BFB6BB;
  --champagne: #eed7c5;
  --seashell: #EEE2DF;

  /* newer */
  --charcoal: #424B54;
  -flax: #E1CE7A;


  /* purple and grey and black on text */
  /* description on login ,an image */
  /* maroon  */
  /* sky blue and white */

}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}